body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
  background-color: #0e192d;
}
.top-nav {
  margin: 15px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

.top-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end; /* Aligns items to the right */
}

.top-nav li {
  margin: 0;
}

.top-nav a {
  display: block;
  padding: 14px 20px;
  text-decoration: none;
  color: #fff;
}

.top-nav a:hover {
  color: #1ae8bf;
  border-radius: 10px; /* Rounded border */
}

.resume a {
  border: 2px solid #1ae8bf;
  border-radius: 8px; /* Rounded border */
  padding: 10px 20px; /* Padding inside the button */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.resume a:hover {
  background-color: #1ae8bf; /* Hover background color */
  color: #000;
  font-weight: bold; /* Make the text bold */
}

/* Center the form horizontally */
.content {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: 100vh; /* Set height to full viewport height */
  flex-direction: column; /* Stack items vertically */
}

/* Add space between header and form */
.header,
.form {
  margin-bottom: 20px; /* Add space between header and form */
}

h1,
p {
  text-align: center;
  margin-bottom: 20px; /* Add space below the h1 */
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

/* Adjust the size of input boxes */
input[type="text"],
input[type="email"],
textarea {
  width: calc(100% - 20px); /* Reduce the width by 20px */
  padding: 10px; /* Add padding inside input boxes */
  margin-bottom: 10px; /* Add some space below each input box */
  border: 1px solid #ddd; /* Add border around input boxes */
  border-radius: 5px; /* Add border radius for rounded corners */
  font-size: 16px; /* Set font size for input text */
}

/* Disable resizing of textarea */
textarea {
  resize: none; /* Disable resizing */
}

/* Style the submit button */
button[type="submit"] {
  background-color: white;
  color: black;
  border: 2px solid #1ae8bf;
  border-radius: 15px;
  padding: 10px; /* Add padding to the button */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #1ae8bf;
}
