body {
  font-family: "Courier New", Courier, monospace;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.code-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.code-line {
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
}

h1 {
  text-align: center;
}
p {
  text-align: center;
}
div {
  text-align: center;
}
